body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    color: #8B4513;
    overflow-x: hidden;
   /*cursor: url('IMAGEN/agucate2cur.png'), auto;*/
}

header {
    background-color: #f2ff8f; /* Verde oscuro */
    padding: 5px 10px;
    max-height: 140px;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 2em;
}

.logo {
    width: 230px;
    height: 200px;
    margin-left: -100px;
    margin-top: -23px;
}

nav {
    display: flex;
    gap: 15px;
    margin-top: -23px;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    
}

nav li {
    position: relative; 
}

nav a {
    font-family: 'Montserrat', sans-serif;
    color: #8B4513;
    text-align: center;
    font-weight: bold;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    color: #45a049;
}

nav a.active {
    color: #45a049; /* Color cuando el enlace está activo */
}

/* Dropdown */
.dropdown-content {
    display: flex;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 20px;
    top: 100%;
    left: 0;
    z-index: 1;
    flex-direction: column;
    gap: 10px;
    width: 300px !important; /* Ajusta el ancho según tus necesidades */
}

.dropdown-content h3 {
    margin: 0 0 10px;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif; /* Cambia la fuente */
    color: #8B4513; /* Marrón */
    font-size: 24px; /* Tamaño más grande */
    padding-left: 20px; /* Alineación del título */
    padding-left: 10px !important; 
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
    display: block;
    font-family: 'Roboto Condensed', sans-serif; /* Fuente compacta y diferente */
    font-size: 16px; /* Tamaño de la fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    padding-left: 10px !important; /* Ajusta el padding para alineación */
}

.dropdown-content a:hover {
    background-color: transparent !important;
    outline: none;
}


.dropdown:hover .dropdown-content {
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

footer {
    background-color: #f2ff8f; /* Marrón */
    color: #8B4513;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    margin-top: auto; /* Empuja el footer al final */
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact-info img {
    width: 50px;
    height: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #8B4513;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.social-media {
    position: fixed;
    top: 400px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.social-media img {
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.main-content {
    padding: 20px;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: flex-start; /* Alinea el contenido al inicio (izquierda) */
    align-items: flex-start; /* Alinea el contenido al inicio (arriba) */
    height: 100vh;
    padding: 45px; /* Añade un poco de relleno para que se note el margen */
    margin-left: 120px;
    flex: 1;
}

.text-container {
    flex: 1;
    max-width: 600px; /* Puedes ajustar este valor según tus necesidades */
    margin-right: 300px;
    margin-top: 200px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start; /* Ajusta la alineación vertical */
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.link-image {
    width: 385px; /* Ajusta el tamaño según tus necesidades */
    height: 339px;
    margin-bottom: -4px;
    position: relative;
    z-index: 5;
}

.swiper-container .swiper-button-next {
    color: #d6e045; /* Cambia este valor por el color que desees */
}

.swiper-container .swiper-button-prev {
    color: #d6e045; /* Cambia este valor por el color que desees */
}

.swiper-container {
    width: 80%;
    height: 700px;
    position: relative;

}

.swiper-container img {
    width: 101%; /* Asegúrate de que las imágenes se ajusten al contenedor */
}

.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 20px;
    top: 100%;
    left: 0;
    z-index: 1;
    flex-direction: column;
    gap: 10px;
    width: 250px; /* Ajusta el ancho según tus necesidades */
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.dropdown-content h3 {
    margin: 0 0 10px;
    font-family: 'Merriweather', serif; /* Cambia la fuente */
    color: #8B4513; /* Marrón */
    font-size: 24px; /* Tamaño más grande */
    padding-left: 20px; /* Alineación del título */
}


.dropdown-content a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    font-family: 'Merriweather', serif; /* Cambia la fuente */
    font-size: 20px; /* Tamaño de la fuente */
    text-align: left; /* Alineación a la izquierda */
    padding-left: 20px; /* Ajusta el padding para alineación */
}

@keyframes slideDown {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    animation: slideDown 0.5s ease forwards;
    visibility: visible;
}
body::-webkit-scrollbar {
    display: none;
}

nav .dropdown > a {
    pointer-events: none;
}
.nav-nosotros:hover > a {
    color: #45a049;
}
/*
a:hover {
    cursor: url('IMAGEN/agucate3cur.png'), pointer !important; 
}
.grab-cursor {
    cursor: url('IMAGEN/cursor4.png'), grabbing !important;
}
video {
    cursor: url('IMAGEN/agucate3cur.png'), pointer;
}
.social-media-icon {
    cursor: url('IMAGEN/agucate3cur.png'), pointer;
}